@model Imagens1.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
<h4>Editar Registro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <<div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="Imagem">Imagem atual:</label>
                <br />
                @{
                    try
                    {
                        var base64 = Convert.ToBase64String(Model.Imagem);
                        if (!string.IsNullOrEmpty(base64))
                        {
                            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            <img class="img-fluid" src="@imgSrc" width="300" />
                        }
                    }
                    catch
                    {
                        <img class="img-fluid"
                             src="http://www.puspfc.usp.br/sistemas/prefeitura/imgs/sem_foto.png"
                             width="150" />
                    }
                }
            </div>

            <label asp-for="Imagem">Upload de nova imagem:</label>
            <input type="file" name="Img" id="Img" class="form-control" title="Select an image to upload">
            <span asp-validation-for="Imagem" id="Label_img" class="text-danger"></span>

            <div class="form-group" style="margin-top:15px;">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                <a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
</div>
<script>
    const Img = document.querySelector('#Img');
    const labelImg = document.querySelector('#Label_img')
     
    Img.addEventListener('change', event => {
        const preview = document.querySelector('#preview_image');
        if (preview) {
            preview.remove();
        }

        const reader = new FileReader;
        reader.onload = function (event) {
            const previewImage = document.createElement('Img');
            previewImage.width = 250;
            previewImage.height = 250;
            previewImage.id = 'preview_image';
            previewImage.src = event.target.result;
            labelImg.insertAdjacentElement('afterend', previewImage);
        }
        reader.readAsDataURL(Img.files[0]);

    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
